.search {
  width: 100%;
  max-width: 400px; /* Adjust width as needed */
  margin: 0 auto;
}

.search-input {
  position: relative;
  width: 100%;
  display: flex; /* Make the search bar and icon appear inline */
}

.search-bar {
  flex: 1; /* Take up remaining space */
  padding: 10px 40px 10px 10px; /* Adjust padding as needed */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.search-bar:focus {
  border-color: rgb(0, 244, 0);
}

.search-icon {
  display: flex; /* Ensure the icon is displayed as a flex item */
  align-items: center; /* Center the icon vertically */
  justify-content: center; /* Center the icon horizontally */
  width: 20px; /* Set the width */
  height: 100%; /* Match the height of the input */
  background-size: cover;
  background-color: #fff; /* Match the background color of the input */
  cursor: pointer;
}
